@model UserDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Profile</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="row">
                    <div class="text-center">
                        @if (Model.ImageCoverUrl != null)
                        {
                            <img src="@Model.ImageCoverUrl" alt="image" class="img-thumbnail" />
                        }
                        else
                        {
                            <img src="~/images/default-image.png" class="img-thumbnail" />
                        }
                    </div>
                </div>
            </div>
            @if (Model.Gallery != null)
            {
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Gallery.Count(); i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Gallery.Count(); i++)
                            {
                                <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                    <img class="d-block w-100" src="@Model.Gallery[i].URL" alt="@Model.Gallery[i].Name">
                                </div>
                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            }
            <form id="profile-form" asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="CoverPhoto" class="control-label" />
                    <div class="custom-file">
                        <input asp-for="CoverPhoto" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Choose file:</label>
                    </div>
                    <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GalleryFiles" class="control-label" />
                    <div class="custom-file">
                        <input asp-for="GalleryFiles" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Choose file:</label>
                    </div>
                    <span asp-validation-for="GalleryFiles" class="text-danger"></span>
                </div>


                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

    </div>
</div>

